@import '../../styles-settings';

.list {
  padding: $global-content-padding;
  border-bottom: $global-border;

  .books-list {
    width: 100%;
    border: $global-border;

    th, td {
      padding-left: 1rem;
      padding-right: 1rem;
      border-right: $global-border;

      &:last-child {
        border-right: none;
      }

      &.title {
        width: 35%;
      }

      &.author {
        width: 20%;
      }

      &.company {
        width: 30%;
      }

      &.year {
        width: 5%;
      }

      &.actions {
        width: 10%;
      }
    }

    thead {

      tr {
        background-color: $global-background-primary-color;

        th {
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
        }
      }
    }

    tbody {

      tr {
        &:nth-child(even) {
          background-color: $global-background-secondary-color;
        }

        a {
          text-decoration: underline;
        }
      }
    }
  }

  .pagination {
    margin-bottom: 0;
    padding-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      margin-right: 0.5rem;

      :last-child {
        margin-right: 0;
      }


      a {
        border: $global-border;
        border-radius: 0;
        padding: 0.5rem 1.5rem;
        color: $global-text-color;
      }

      &.active {
        a {
          border-width: 5px;
          font-weight: bold;
        }
      }
    }
  }

  .activeClass {
    border-width: 5px;
    font-weight: bold;
  }
}
