@import './styles-settings';

* {
  font-family: $global-font-family;
}

.app {
  min-width: $global-app-min-width;

  .alert {
    position: absolute;
    right: 0;
    margin: 5rem 1rem 1rem;
    height: 100px;
    border-radius: 0;
    border-color: $global-border-color;
  }
}

.btn, .form-control {
  border-radius: 0 !important;
}

.form-control {
  border: $global-border !important;
}

input {

  &:focus {
    box-shadow: $global-input-box-shadow !important;
    border: $global-border !important;
  }
}

button {
  &.btn-link {
    text-decoration: underline;
    cursor: pointer;

    &:focus {
      color: $global-text-color;
    }
  }
}

