@import './styles-settings';

* {
  font-family: $global-font-family;
}

.app {
  min-width: $global-app-min-width;

  .alert {
    position: absolute;
    right: 0;
    margin: 1rem;
    height: 100px;
    border-radius: 0;
    border-color: $global-border-color;
  }
}

.btn, .form-control {
  border-radius: 0 !important;
}

.form-control {
  border: $global-border !important;
}

