$global-app-min-width: 1366px;

$global-text-color: #2B4450;
$global-background-primary-color: darkgrey;
$global-background-secondary-color: lightgrey;

$global-border-color: $global-text-color;

$global-border: 1px solid $global-border-color;
$global-content-padding: 1rem;

$global-font-family: "Comic Sans MS", cursive, sans-serif;
